{% extends 'base.html.twig' %}

{% block title %}Objave{% endblock %}

{% block navigation %}
    {% include 'user/navigation.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid form-inline col-md-12 mb-3">
        <h1 class="col-md-10">Upravljanje objavama</h1>
        <a href="{{ path('posts_new') }}" class="col-md-2 btn btn-outline-secondary add-new-btn"><i class="fas fa-plus h4 p-0 m-0"></i> <p class="p-0 m-0">Kreiraj novo</p></a>
    </div>
    <table class="table table-bordered table-condensed table-hover p-2">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Objava</th>
            <th class="text-center">Vrsta</th>
            <th class="text-center">Korisnik</th>
            <th class="text-center">Kolegij</th>
            <th class="text-center">Akcije</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="text-center">{{ post.id }}</td>
                <td class="text-center">{{ post.data }}</td>
                <td class="text-center">{{ post.type }}</td>
                <td class="text-center">{{ post.user.firstName }} {{ post.user.lastName }} </td>
                <td class="text-center">{{ post.course.name }}</td>
                <td class="text-center">
                    <a href="{{ path('posts_show', {'id': post.id}) }}" class="btn btn-outline-secondary"><i
                                class="far fa-eye"></i></a>
                    <a href="{{ path('posts_edit', {'id': post.id}) }}" class="btn btn-outline-secondary"> <i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Nema unosa</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
