{{ form_start(form) }}
    {{ form_widget(form.firstName) }}
{{ form_widget(form.lastName) }}
{{ form_widget(form.email) }}

{{ form_widget(form.password) }}
{{ form_widget(form.colleges) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
