{% extends 'base.html.twig' %}
{% block navigation %}
    {% include 'user/navigation.html.twig' %}
{% endblock %}
{% block title %}Korisnici{% endblock %}

{% block body %}
    <div class="container-fluid form-inline mb-3">
        <h1>Korisnik {{ user.firstName }} {{ user.lastName }}</h1>
    </div>

    <table class="table table-bordered table-condensed table-hover p-2">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Ime</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Prezime</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Kolegiji</th>
            <td>{% for course in user.courses %}
                    {{ course.name }} <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Akcije</th>
            <td class="form-inline">
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-secondary"> <i
                            class="far fa-edit"></i></a>
                {{ include('userCrud/_delete_form.html.twig') }}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i></a>

{% endblock %}
