{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    {{ form_errors(registrationForm)}}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>

    <label for="firstName" class="sr-only">First Name</label>
    {{ form_widget(registrationForm.firstName) }}

    <label for="lastName" class="sr-only">Last Name</label>
    {{ form_widget(registrationForm.lastName) }}

    <label for="inputEmail" class="sr-only">Email</label>
    {{ form_widget(registrationForm.email) }}

    <label for="plainPassword" class="sr-only">Password</label>
    {{ form_widget(registrationForm.plainPassword) }}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit">
        Register
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}
