{% extends 'base.html.twig' %}

{% block title %}Kolegiji{% endblock %}
{% block navigation %}
    {% include 'user/navigation.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container-fluid form-inline col-md-12 mb-3">
        <h1 class="col-md-10">Upisani kolegiji</h1>
        <a href="{{ url('user.courses.add') }}" class="col-md-2 btn btn-outline-secondary add-new-btn"><i
                    class="fas fa-plus h4 p-0 m-0"></i>
            <p class="p-0 m-0">Dodaj</p></a>
    </div>
    <table class="table table-bordered table-condensed table-hover p-2">
        <thead>
        <tr>
            <th class="text-center">Fakultet</th>
            <th class="text-center">Sinonim</th>
            <th class="text-center">Naziv</th>
            <th class="text-center">Akcije</th>
        </tr>
        </thead>
        <tbody>
        {% for course in userCourses %}
            <form action="{{ path('user.course.delete', {'id': course.id}) }}">
                <tr>
                    <td class="text-center">{{ course.college.name }}</td>
                    <td class="text-center">{{ course.aka }}</td>
                    <td class="text-center">{{ course.name }}</td>
                    <td class="text-center">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
                        <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </form>
        {% else %}
            <tr>
                <td colspan="4">Nema unosa</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}