<div class="justify-content-md-center mb-5">
    <div class="card border-dark m-auto">
        <div class="card-header">{{ header }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            {% if file %}
                <a href="{{ asset('uploads/materials/' ~ text) }}">{{ text }}</a>
            {% else %}
                <p class="card-text">{{ text }}</p>
            {% endif %}
        </div>
        <div class="form-inline border-dark col-md-12 mb-3">
            <div class="card-footer bg-transparent col-md-9">Objavio/la {{ user }} @ {{ date }}</div>
            <div class="form-inline col-md-3">
                <button class="btn col-md-6 btn-outline-success" onclick="useful({{ post_id }})">
                    <i class="far fa-thumbs-up"></i>
                    <p class="m-0 p-0 likes-text" data-post_id="{{ post_id }}">{{ likes }} korisno</p>
                </button>
                <button class="btn col-md-6 btn-outline-danger" onclick="notUseful({{ post_id }})">
                    <i class="far fa-thumbs-down"></i>
                    <p class="m-0 p-0 likes-text" data-post_id="{{ post_id }}">{{ dislikes }} nije korisno</p>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function useful(post_id) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                let response = JSON.parse(xhr.responseText);
                if(response.code === 403){
                    alert("Već ste glasali na ovoj objavi");
                } else {
                    location.reload();
                }
            }
        };
        xhr.open("POST", "{{ url('user.post.useful') }}", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            post_id: post_id
        }));
    }

    function notUseful(post_id) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                let response = JSON.parse(xhr.responseText);
                if(response.code === 403){
                    alert("Već ste glasali na ovoj objavi");
                } else {
                    location.reload();
                }
            }
        };
        xhr.open("POST", "{{ url('user.post.notUseful') }}", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            post_id: post_id
        }));
    }
</script>